@import 'mini.css';

th {
    line-height: 1em;
    color:black
}

.full-height {
    max-height: 90vh;
}

.total {
    background-color: darkkhaki
}

.positive {
    background-color: forestgreen;
}

.negative {
    background-color:red;
}