@import 'mini.css';

/*th {
    line-height: 1em;
    color: black;
}*/

.mt15 {
    margin-top: 15px;
}

body {
    background-color: lavender
}

.full-height {
    max-height: 90vh;
}

.total {
    background-color: darkkhaki;
}

.positive {
    background-color: forestgreen;
}

.negative {
    background-color: red;
}

.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}

.overflow-hidden {
    overflow: hidden;
    width: 90%
}